<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- FOR PICTURES MANAGEMENT -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- FOR INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- FOR GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealEstateManager"
        tools:targetApi="31">
        <activity
            android:name=".ui.mainActivity.MainActivity"
            android:theme="@style/Theme.RealEstateManager"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MAP SDK -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- See https://developer.android.com/training/dependency-injection/hilt-jetpack#workmanager -->
        <!-- See https://developer.android.com/jetpack/androidx/releases/work#2.6.0-alpha01 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="fr.melanoxy.realestatemanager.androidx-startup"
            tools:node="remove"
            />
    </application>

</manifest>